/* dummy nave bar  */
#navbar {
  display: flex;
  justify-content: space-around;
}
#navbar > div:last-child {
  display: flex;
  justify-content: space-between;
}

/* main title */
#category-title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  text-decoration-line: underline;
  
}
/* maion container */
#product-contianer {
  margin: auto;
  width: 72%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  row-gap: 0.2%;
  column-gap: 3%;
  /* border: 1px solid red; */
  margin-top: 0%;
}

/* single item div */
#product-contianer > div {
  text-align: center;
  width: 95%;
  /* border: 1px solid blueviolet; */
  cursor: pointer;
  vertical-align: top;
  padding: 4% 0%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

/* item image */
#product-contianer > div > img {
  width: 85%;
  height: 255px;
  /* border: 1px solid greenyellow; */
  margin-bottom: 4%;
}

#product-contianer > div >img:hover {

}


/* item decription, title, price shared common property */
#product-contianer p,
#product-contianer h3,
#product-contianer h2 {
  text-align: left;
  width: 85%;
  /* border: 1px solid red; */
  margin: auto;
  margin-bottom: 3%;
}

/* item title */
#product-contianer h3 {
  font-weight: bold;
  font-size: 16px;
}

/* item price */
#product-contianer h2 {
  margin-top: 10%;
  font-size: 25px;
  font-weight: bold;
}

/* item decription */
#Pro_desc {
  margin: auto;
  overflow: hidden;
  width: 80%;
  height: 34px;
  color: #807f7f;
}

/* item showing shades div */
#product-contianer > div > div {
  /* border: 1px solid red; */
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 2%;
  color: #4d4d4d;
  width: 85%;
  margin: auto;
  margin-bottom: 4%;
}

/* shads image */
#product-contianer > div > div > img {
  width: 7%;
  height: 10%;
  /* border: 1px solid red; */
}

/* shads count */
#product-contianer > div > div > h3 {
  /* border: 1px solid red; */
  margin: 0%;
  padding: 0%;
}
