#nav-tag,
#nav-tag > p {
  /* border: 1px solid red; */

  text-align: center;
}
#next-page-nav > span {
  /* border: 1px solid red; */
  cursor: pointer;
}
#productDetial-container {
  margin: auto;
  /* border: 1px solid red; */
  width: 70%;
  display: flex;
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */
}
#hr-line {
  width: 85%;
  margin-bottom: 2%;
  border: 1px solid rgb(237, 235, 235);
}
#leftBox {
  /* border: 1px solid green; */
  width: 43%;
}
#leftBox {
  /* Box */
  height: 402px;
  width: 466.656px;
  position: sticky;
  top: 0px;
  /* border: 1px solid green; */
 
}

#rightBox {
  /* border: 1px solid green; */
  width: 57%;
}
#rightBox {
  /* Font & Text */
  font-family: din-2014, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none solid rgb(51, 51, 51);

  width: 653.328px;
  margin: 0px;
  padding: 0px 15px;
  min-height: 1px;
  min-width: 0px;

  /* Positioning */
  position: relative;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  float: left;
  display: block;
  clear: none;
  z-index: auto;
}

#leftBox > img {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  width: 340.586px;
  height:100%;
  position: static;
  /* border: 1px solid red; */
}

#rightBox > h1 {
  /* Font & Text */
  font-family: din-2014, sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 26.4px;
  text-decoration: none solid rgb(55, 55, 56);
  text-align: start;
  text-transform: uppercase;
  /* Box */

  margin: 17px 0px 10px;
  padding: 0px 0px 2px;
  /* Positioning */
 
  float: none;
  display: block;
  clear: none;
  z-index: auto;
}

#brand {
  /* Font & Text */
  font-family: din-2014, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: rgb(144, 144, 144);
  height: 17.5781px;
  width: 623.32px;
  /* border: 1px solid red; */
  margin-bottom: -1%;
  margin-top: -1%;
}

#rating_div {
  display: flex;
  align-items: center;
  gap: 2%;
  /* Font & Text */
  font-family: din-2014, sans-serif;
  font-size: 18px;
  color: rgb(51, 51, 51);

  /* List */
  list-style-image: none;
  list-style-type: disc;
  list-style-position: outside;
}
.fa-star {
  color: #ff9797;
  font-size: 22px;
}
#rating_div > p {
  font-size: 18px;
  font-weight: 500;
}

#price_div {
  font-size: 24px;
  display: flex;
  gap: 2%;
}

#discout_price {
  /* Font & Text */
  font-family: din-2014, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 34.2857px;
  text-decoration: none solid rgb(51, 51, 51);
  text-align: start;
  text-indent: 0px;
  text-transform: none;
  vertical-align: baseline;
  white-space: normal;
  word-spacing: 0px;

  /* Color & Background */
  background-attachment: scroll;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  color: rgb(51, 51, 51);

  /* Positioning */
  position: static;
  top: auto;
  bottom: auto;
  right: auto;
  left: auto;
  float: none;
  display: inline;
  clear: none;
  z-index: auto;

  /* Miscellaneous */
  overflow: visible;
  cursor: auto;
  visibility: visible;

  /* Effects */
  transform: none;
  transition: all 0s ease 0s;

  outline-offset: 0px;
  box-sizing: border-box;
  resize: none;
  text-shadow: none;
  text-overflow: clip;
  word-wrap: normal;
  box-shadow: none;
}


#original_price {
  /* Font & Text */
  font-family: din-2014, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 31.4286px;
  text-decoration: line-through solid rgb(144, 144, 144);
  text-align: start;
  text-indent: 0px;
  text-transform: none;
  vertical-align: baseline;
  white-space: normal;
  word-spacing: 0px;

  /* Color & Background */
  background-attachment: scroll;
  color: rgb(144, 144, 144);

  /* List */
  list-style-image: none;
  list-style-type: disc;
  list-style-position: outside;

  /* Table */
  border-collapse: separate;
  border-spacing: 0px 0px;
  caption-side: top;
  empty-cells: show;
  table-layout: auto;

  /* Miscellaneous */
  overflow: visible;
  cursor: auto;
  visibility: visible;

  /* Effects */
  transform: none;
  transition: all 0s ease 0s;
  outline-offset: 0px;
  box-sizing: border-box;
  resize: none;
  text-shadow: none;
  text-overflow: clip;
  word-wrap: normal;
  box-shadow: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}


#mrp {
  /* Font & Text */
  font-family: din-2014, sans-serif;
  font-size: 11.9px;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none solid rgb(51, 51, 51);
  text-align: start;
  color: rgb(51, 51, 51);
  /* Positioning */
  position: static;
  display: inline;
  /* Effects */
  transition: all 0s ease 0s;
  box-sizing: border-box;
  text-overflow: clip;
}

#shades-div {
  display: flex;
  align-items: center;
}

#shades-div > p {
  /* Font & Text */
  font-family: din-2014, sans-serif;
  font-size: 20px;
  font-weight: 600;

  text-decoration: none solid rgb(155, 155, 155);
  color: rgb(155, 155, 155);
  /* Box */
  height: 22.8438px;
  width: 85.0938px;
  /* Positioning */
  position: static;
  top: auto;
  bottom: auto;
  right: auto;
  left: auto;
  float: left;
  display: block;
  clear: none;
  z-index: auto;
  /* Table */
  border-collapse: separate;
}

#select_shade {
  /* Font & Text */
  font-family: din-2014, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  background-color: rgb(255, 255, 255);
  margin: 0px 0px 0px 3px;
  padding: 4px 10px;
}

#shade_color-div {
  display: flex;
  gap: 2%;
  max-width: 60%;
  flex-wrap: wrap;
  margin-bottom: 3%;

  /* border: 1px solid black; */
}

#shade_color-div > div {
  width: 48px;
  height: 48px;
  margin-bottom: 3%;
  cursor: pointer;
}
#addToCart-div {
  display: flex;
  align-items: center;
  gap: 5%;
  margin-bottom: 2%;
}
#addToCart-div > p {
  font-size: 15px;
  font-weight: bold;
}
#addToCart {
  cursor: pointer;
  /* Font & Text */
  font-family: din-2014, sans-serif;
  font-size: 18px;

  font-weight: 600;
  text-decoration: none solid rgb(255, 255, 255);
  text-align: center;
  white-space: nowrap;

  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);

  /* Box */
  height: 48.8438px;
  width: 190.031px;
  margin: 0px 12px 0px 0px;
  padding: 13px 30px 11px 55px;

  /* Positioning */
  position: relative;
}

/* ICON INSIDE ADD TO CART BUTTON */
.material-symbols-rounded {
  /* Font & Text */
  font-family: din-2014, sans-serif;
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
  line-height: 34.2857px;
  text-decoration: none solid rgb(255, 255, 255);
  text-align: center;
  color: rgb(255, 255, 255);
  /* Positioning */
  position: absolute;
  top: 9px;
  bottom: 3.5625px;
  right: 128.031px;
  left: 18px;
}

#cashback-title {
  /* Font & Text */
  font-family: din-2014, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 22.8571px;
  text-decoration: none solid rgb(51, 51, 51);
  /* Color & Background */
  background-attachment: scroll;
  background-color: rgb(244, 244, 244);
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  color: rgb(51, 51, 51);
  /* Box */
  height: 36.8438px;
  width: 520.328px;
  padding: 7px;

  outline-offset: 0px;
  box-sizing: border-box;
  resize: none;
  text-shadow: none;
  text-overflow: clip;
  word-wrap: normal;
  box-shadow: none;
  margin-bottom: 3%;
}

#excusive-offer-div {
  /* Font & Text */
  font-family: din-2014, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 20px;
  text-decoration: none solid rgb(51, 51, 51);
  text-align: start;
  text-indent: 0px;
  white-space: normal;
  word-spacing: 0px;

  /* Color & Background */
  background-attachment: scroll;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  color: rgb(51, 51, 51);

  /* Box */
  height: 280.812px;
  width: 513.328px;

  border-top: 1px solid rgb(228, 228, 228);
  border-right: 0px none rgb(51, 51, 51);
  border-bottom: 1px solid rgb(228, 228, 228);
  border-left: 0px none rgb(51, 51, 51);
  padding: 0px 0px 30px;
  max-height: none;
  min-height: 0px;
  max-width: none;
  min-width: 0px;

  /* Positioning */
  position: relative;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  float: left;
  display: block;
  clear: none;
  z-index: auto;

  /* List */
  list-style-image: none;
  list-style-type: disc;
  list-style-position: outside;

  /* Table */
  border-collapse: separate;
  border-spacing: 0px 0px;
  caption-side: top;
  empty-cells: show;
  table-layout: auto;

  /* Miscellaneous */
  overflow: visible;
  cursor: auto;
  visibility: visible;

  /* Effects */
  transform: none;
  transition: all 0s ease 0s;
  outline-offset: 0px;
  box-sizing: border-box;
  resize: none;
  text-shadow: none;
  text-overflow: clip;
  word-wrap: normal;
  box-shadow: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-bottom: 10%;
}
#excusive-offer-div > img {
  margin-top: 4%;
  margin-bottom: 4%;
}
#exclusive-offer-img{
	width: 40%;
}
.offers_details {
  display: flex;
  align-items: center;
  gap: 3%;
  margin-left: 3%;
  margin-bottom: 4%;
}
.offers_details > img {
  height: 30px;
  width: 30px;
}
.offers_details > span {
  /* Font & Text */
  font-family: din-2014, sans-serif;
  font-size: 14px;
  font-weight: 500;
}
#description-title {
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 7%;
  margin-left: 2%;
  font-weight: 600;
}
#description {
  /* Font & Text */
  font-family: din-2014, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.08px;
  text-decoration: none solid rgb(0, 0, 0);
  white-space: pre-wrap;
  color: rgb(0, 0, 0);
  padding: 4% 2%;
  border-bottom: 1px solid rgb(228, 228, 228);
  
}

#write-review {
  text-align: center;
  padding: 5% 0%;
  font-family: din-2014, sans-serif;
  border-bottom: 1px solid rgb(228, 228, 228);
}
#write-review > button {
  background-color: black;
  color: white;
  padding: 3% 5%;
  cursor: pointer;
}



/* Popup styling start*/

.popupBox{
  background-color: white;
  /* border: 1px solid black; */
  margin-top: 100px;
  width: 440px;
  height: 670px;
  position: absolute;
  top: 100px;
  right:-500px;
  transition: transform 0.5s,bottom 0.4s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  /* visibility: hidden; */
 
}
.open-popup{
  position: fixed;
  right:-225px;
}
.close-popup{
  transition: transform 0.5s,bottom 0.4s;
}

#poup-top{
  font-family: din-2014, sans-serif;
  /* border: 1px solid black; */
  padding: 5% 7%;
display: flex;
justify-content: space-between;
font-size: 22px;
font-weight: 500;
background-color: #f7f7f7;
}

#my-bag{
  /* border: 1px solid black; */
  width: 180px;
}

.fa-bag-shopping{
font-size: 30px;
margin-right: 5%;
}

#close_Btn{
  border: 1px solid rgb(216, 216, 216);
  background-color: transparent;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
}
#close_Btn:hover{
  border: 1px solid red;
}

#cart-data-div{
  height:380px;
  overflow: scroll;
  overflow-x: hidden;
  /* border: 1px solid red; */
}
#congrats-banner{
  font-family: din-2014, sans-serif;
  font-size: 14px;
  /* border: 1px solid greenyellow; */
  padding: 3% 7%;
  font-weight: 600;
  border-top: 1px solid rgb(228, 228, 228);
  border-bottom: 1px solid rgb(228, 228, 228);

}

#total-ammount-div{
  font-family: din-2014, sans-serif;
  /* border: 1px solid red; */
  padding: 0% 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}
#display-total{
  font-size: 26px;
  margin: 0%;
  
}
#popup-checkout-btn{
  font-size: 25px;
  font-family: din-2014, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 7%;
  /* border: 1px solid red; */
color: wheat;
background-color: black;
cursor: pointer;
font-weight: 600;
}
.fa-arrow-right-long{
  font-size: 30px;
}


/* appending data in popup box */
#cart-data-div{
  /* border: 1px solid red; */
  font-family: din-2014, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 4%;
  padding: 3.5% 6%;
}
#cart-data-div>div{
  display: flex;
  /* border: 1px solid greenyellow; */
  width: 94%;
  padding: 3% 4%;
  margin-top: 2%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
#cart-data-div>div>div{
  /* border: 1px solid blueviolet; */
}

#cart-data-div>div>button{
  /* border: 1px solid blueviolet; */
  height: 20px;
  font-size: 15px;
  font-weight: 700;
  background-color: transparent;
  border:1px solid  #dfdede;
  cursor: pointer;
}
#cart-data-div>div>button:hover{
  border:1px solid  red;
}

#img_title_div{
  display: flex;
  gap: 3%;
  /* border: 1px solid red; */
  padding: 3%  4% 0% 4%;
}
#img_title_div>img{
  /* border: 1px solid red; */
  width: 25%;
}
#img_title_div>p{
  /* border: 1px solid red; */
  color: #5a5a5b;
}

#price_quty_div{
  display: flex;
  justify-content: space-between;
  /* border: 1px solid rgb(0, 51, 255); */
}
#price_quty_div>p{
  font-size: 18px;
  font-weight: 600;
  margin-left: 2%;
  /* border: 1px solid red; */


}

/* quantity div */
#quantity_div{
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 3%;
  /* border: 1px solid red; */
  width: 80%;

}
.fa-circle-plus,.fa-circle-minus{
font-size: 20px;
cursor: pointer;
}
